/* IE 6 CSS */
#rightCol {margin-left: -110px;}
#leftCol a {line-height: 10px;}
.divider {margin-top: 10px;}
#navBoxTop, #navBoxMiddle, #navBoxBottom {line-height: 0;}
#navBoxTop {font-size: 0;}
#navBoxMiddle {padding-top: 20px; padding-bottom: 0;}
#resourcesNav li, .more {display: inline;}
.more {margin-top: 30px;}
#resourcesNav ul li a {padding-bottom: 9px;}
.horizDivider {margin-bottom: 5px;}
.horizDivider2 {margin-top: 20px; margin-bottom: 0;}
.linksText {line-height: 20px; font-size: 125%;}
.subNav {margin-left: 6px;}
#primNav li a {top: 7px;}
#newspaper {z-index: -1;}
#timelineContentBox {margin-top: 15px;}
.subNav ul li a {padding-top: 6px;}
blockquote {background: none;}
.left_nav, .right_nav {top: 7px;}
#primNav li a.active {top: 4px;}