/*IE7 CSS*/
#rtQuotation {left: 170px;}
.more {margin-top: 30px;}
#resourcesNav ul li a {padding-bottom: 9px;}
#resourcesNav li {display: inline;}
#newspaper {z-index: -1;}
#primNav li a {top: 7px;}
#timelineContentBox, .horizDivider2 {margin-top: 10px;}
.subNav ul li a {padding-top: 6px;}
.left_nav, .right_nav {top: 7px;}
#primNav li a.active {top: 4px;}
#addThis li { padding:2px 0 6px;}