/*Last Updated 2016-01-13 1816 FKM */

/* Table of Contents --------------- 
    1. Reset
    2. Elements (a, body, p, etc.)
	3. ID's (#container, etc.)
	4. Classes (.red, .clear, etc.)
------------------------------------*/

/* 1. Reset ----------------------- */
	* {margin: 0; position: relative;}
	html {margin: 0; padding: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%;  font-family: inherit;
		background: rgb(0,0,0); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(85,87,83,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(85,87,83,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(85,87,83,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(85,87,83,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(85,87,83,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(85,87,83,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#555753',GradientType=0 ); /* IE6-9 */

	}
/*----------------------------------*/

/* 2. Elements -------------------- */
	body {margin-top: 20px; font-family: Palatino Linotype, Book Antiqua, Palatino, serif;}
	p, a, a:hover, a:focus, a:active, #ltQuotation, #rtQuotation, #nav, #dogtag, .horizDivider, .horizDivider2, #resourcesNav, .newsBlock img, h3, #timelineContentBox, blockquote {color: #feffca; position: relative; z-index: 1000;}
	p {font-size: 105%; line-height: 30px; margin-top: 10px;}
	a {font-size: 85%; text-decoration: none; outline: 0;}
	a:hover, a:focus, a:active {text-decoration: underline;}
	h3 {color: #feffca;}
	ul {list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0;}
	img, #welcomeImg {border: 1px solid #2e0404;}
	blockquote {font-size: 120%; background: url(http://www.army.mil/e2/rv5_images/africanamericans/rtQuote.png) no-repeat right bottom; margin-bottom: 20px;}
	blockquote p {line-height: 180%;}
/*----------------------------------*/

/* 3. ID's ------------------------ */
	#outter_wrapper{
		min-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		background: url(http://www.army.mil/e2/rv5_images/africanamericans/aa_bg2.png) no-repeat top center;
	}
	#featureHeader a {font-size: 100%;}
	#wrapper {margin: 0 auto; width: 820px;}
	#header {padding-top: 30px; height: 135px; width: 820px; clear: both; margin: 0px auto 10px auto;}
	#armystar {background: url(http://www.army.mil/e2/rv5_images/main/armystar.png) no-repeat; display: block; float: left; left: 25px; margin: 0 auto; height: 94px; width: 74px;}
	#mainlogo {background: url(http://www.army.mil/e2/rv5_images/africanamericans/aa-logo.png) no-repeat; height: 135px; width: 439px; display: block; float: right; right: 115px; margin: 0 auto;}
	#contentBox {width: 820px; margin: 0 auto;}		
	#contentBoxTop {background: url(http://www.army.mil/e2/rv5_images/africanamericans/contentBoxTop.png) no-repeat; height: 37px; width: 820px;}
	#contentBoxMiddle {background: url(http://www.army.mil/e2/rv5_images/africanamericans/contentBoxMiddle.png) repeat-y; height: 1%; position: relative; width: 820px; padding-bottom: 40px;}
	#leftCol {width: 150px; float: left; position: relative; padding: 30px 0 0 60px; left: -25px; margin-right: 5px; text-transform: uppercase;}
	#leftCol a {font-size: 105%; font-weight: bold; color: #2e0404; line-height: 40px; padding: 0 0 0 60px;}
	#nav li:first-child {padding-top: 10px;}
	#nav {position: relative; top: -30px; left: -80px;}
	#navBoxTop {background: url(http://www.army.mil/e2/rv5_images/africanamericans/navBoxTop.png) no-repeat; width: 240px; height:17px;}
	#navBoxMiddle {background: url(http://www.army.mil/e2/rv5_images/africanamericans/navBoxMiddle.png) repeat-y; width: 240px; padding-bottom: 10px;}	
	#navBoxBottom {background: url(http://www.army.mil/e2/rv5_images/africanamericans/navBoxBottom.png) no-repeat; width: 240px; height:32px;}
	#dogtag {background: url(http://www.army.mil/e2/rv5_images/africanamericans/dogtag.png) no-repeat; height: 218px; width: 132px; position: relative; top: -38px; z-index: 999;}
	#rightCol {width: 520px; float: left; margin-left: -25px;}
	#subheader {background: url(http://www.army.mil/e2/rv5_images/africanamericans/subheader.png) no-repeat; height: 41px; width: 457px;}
	#subheader_timeline {background: url(http://www.army.mil/e2/rv5_images/africanamericans/subheader_timeline.png) no-repeat; height: 36px; width: 149px;}
	#subheader_profiles {background: url(http://www.army.mil/e2/rv5_images/africanamericans/subheader_profiles.png) no-repeat; height: 42px; width: 305px; margin-bottom: 10px;}	
	#subheader_resources {background: url(http://www.army.mil/e2/rv5_images/africanamericans/subheader_news.png) no-repeat; height: 34px; width: 171px; margin-bottom: 10px;}
	#subheader_archive {background: url(http://www.army.mil/e2/rv5_images/africanamericans/subheader_archives.png) no-repeat; height:35px; width:345px; margin-bottom: 10px;}
	#textOnlyContent h3, #textOnlyContent h4 {margin-top: 10px; color: #2e0404;}
	#textOnlyContent a {font-size: 100%; text-decoration: underline;}
	#textOnlyContent img, #timelineContent img {float: left; margin-right: 10px; margin-top: 15px;}
	#resourcesNav ul li a {background-color: #846e55; display: inline; float: left; padding: 8px 15px 3px; margin-right: 6px; margin-bottom: 30px; text-decoration: none; text-transform: uppercase;}
	#resourcesNav .currentPg, #resourcesNav ul li a:hover, #resourcesNav ul li a:focus, #resourcesNav ul li a:active {background-color: #976031;}					
	#welcomeImg {background: url(http://www.army.mil/e2/rv5_images/africanamericans/welcome_img.jpg) no-repeat; height:229px; width: 521px; margin: 10px 0;}
	#ltQuotation {background: url(http://www.army.mil/e2/rv5_images/africanamericans/ltQuote.jpg) no-repeat; height:36px; width:47px; margin-right: 10px; display: block; float: left;}
	#profilesButton {background: url(http://www.army.mil/e2/rv5_images/africanamericans/profilesButton.gif) no-repeat; width: 224px; margin-top: 10px; height: 40px; display: block;}
	#profilesButton:hover, #profilesButton:focus, #profilesButton:active {background-position: 0 -40px;}	
	#video {position: relative; z-index: 999;}				
	#newspaper {background: url(http://www.army.mil/e2/rv5_images/africanamericans/newspaperclip.jpg) no-repeat; height:190px; width:738px; position: absolute; top: 400px; left: 40px;}
	#coins {background: url(http://www.army.mil/e2/rv5_images/africanamericans/coins.png) no-repeat; height: 177px; width: 161px; position: absolute; top: -70px; left: 660px;}
	#timelineContentBox {width:694px; margin: 50px auto 0;}
	#timelineContentBox_top {background: url(http://www.army.mil/e2/rv5_images/africanamericans/timelineContentBox_top.png) no-repeat; width: 701px; height:57px;}
	#timelineContentBox_middle {background: url(http://www.army.mil/e2/rv5_images/africanamericans/timelineContentBox_middle.png) repeat-y; width: 701px; padding-bottom: 15px;}
	#primNav li a {color: #2e0404; background-color: #a29076; padding: 7px 8px 5px; float: left; position: relative; top: -28px; margin-left: 3px; border-top: 1px solid #58362b; border-left:1px solid #58362b; border-right: 1px solid #58362b;}
	#primNav li a:hover, #primNav li a:focus, #primNav li a:active {background-color: #C2B48E; text-decoration: none;}
	#primNav li a.active {color: #2e0404; background-color: #C2B48E; top: -31px; padding-bottom: 10px; border-top: 1px solid #58362b; border-left:1px solid #58362b; border-right: 1px solid #58362b;}
	.subNav {width: 160px; float: left; height: 100%; margin-left: 13px;}
	.subNav ul li a {background: #8e8860 url(http://www.army.mil/e2/rv5_images/africanamericans/subNav_gradient.jpg) repeat-x; position: relative; padding: 10px 0 10px 5px; display: block; font-style: italic;}
	.subNav ul li a:hover, .subNav ul li a:focus, .subNav ul li a.active {background: #58533f url(http://www.army.mil/e2/rv5_images/africanamericans/subNav_gradientDK.jpg) repeat-x; display: block; text-decoration: none;}
	.arrow {background: #8e8860 url(http://www.army.mil/e2/rv5_images/africanamericans/rtArrow_light.jpg) no-repeat; width: 22px; height: 38px; position: absolute; right: -22px; top: 0;}
	a:hover .arrow, a:focus .arrow, a:active .arrow, .subNav ul li a.active .arrow {background: #58533f url(http://www.army.mil/e2/rv5_images/africanamericans/rtArrow_dark.jpg) no-repeat; width: 22px; height: 38px;}
	#timelineContent .prim {display: none;}
	#timelineContent .prim.active {display: block;}
	#timelineContent .sub {float: right; width: 475px; padding-right: 20px; display: none;}
	#timelineContent .sub.active {display: block;}
	#timelineContent .sub p {color: #2e0404; font-size: 90%; line-height: 25px;}
	#timelineContent .sub a {font-size: 100%; color: #2e0404; text-decoration: underline;}
	#timelineContent .sub h3 {color: #2e0404; padding-top: 10px;}
	#timelineContentBox_bottom {background: url(http://www.army.mil/e2/rv5_images/africanamericans/timelineContentBox_bottom.png) no-repeat; width: 701px; height:19px;}
	#1700, #1800, #1866, #1914, #1939, #1950, #1974 {display: block; width: 200px;}
	#contentBoxBottom {background: url(http://www.army.mil/e2/rv5_images/africanamericans/contentBoxBottom2.png) no-repeat; height: 38px; width: 820px; margin-bottom: 20px;}
	#footer {width: 820px; margin: 0 auto 20px; text-align: center;}
	#footer a, #footer p {color: #c2b48e; width: 600px; margin: 0 auto; font-size: 80%;}
	#footer p, .italic {line-height: 170%;}
	#footer ul {margin-bottom: 20px; }
	#footer ul li, #timelineContentBox #primNav li {display: inline;}
	#footer ul li a {padding: 10px; font-weight: bold;}
	#footer a, #footer ul li a {font-size: 90%;}

/*----------------------------------*/

/* 4. Classes --------------------- */
	.skip, .hide, label em, #armystar, #mainlogo, #subheader, #subheader_timeline, #subheader_profiles, #profilesButton, #subheader_resources, #subheader_archive, #timelineBanner_revolution {text-indent: -9999px;}
	.skip {position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;}
	
	.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #fff;} 
	.skip2 a:active, .skip2 a:focus { background: #2E0404; position: static; width: auto; height: auto; padding: 1em; margin: auto;}

	.divider {background: url(http://www.army.mil/e2/rv5_images/africanamericans/divider.png) no-repeat; height:1px; width:111px; position: relative; left: 50px; padding-bottom: 2px;}
	.horizDivider {background: url(http://www.army.mil/e2/rv5_images/africanamericans/horizDivider.png) no-repeat; height: 1px; width:524px;  margin: 25px 0; float: left;}
	.horizDivider2 {background: url(http://www.army.mil/e2/rv5_images/africanamericans/horizDivider.png) no-repeat; height: 1px; width:524px;  margin-bottom: 10px; float: left;}	
	.profileBlock img, .profileText, .resourcesText, .linksText, .newsBlock img, .profileTextContent {float: left; display: inline;}
	.profileBlock img, .newsBlock img {margin: 0 10px 0 0; z-index: 1000;}
	.profileImg {margin-top: 15px; margin-right: 20px; float: left;}
	.more {display: block; float: left; margin-left: 195px;}
	.profileBlock a {font-size: 110%;}
	.newsBlock h3 {font-size: 120%; line-height: 20px;}
	.newsBlock {font-size: 100%;}
	.profileHeader {font-size: 160%;}
 	.profileText {width: 440px;}
	.firstLine  {margin-top: 0;}
	.profileText p, .newsBlock p, .textonly {color: #e9d4ad; line-height: 20px;}
	.resourcesText {width: 350px;}
	.linksText {width: 520px; margin-bottom: 12px;}
	.linksText a:hover, .newsBlock a:hover, .more:hover, .profileBlock a:hover, .profileTextContent a:hover, #timelineContent .sub a:hover, .textonly:hover, #textOnlyContent a:hover, .linksText a:focus, .newsBlock a:focus, .more:focus, .profileBlock a:focus, .profileTextContent a:focus, #timelineContent .sub a:focus, .textonly:focus, #textOnlyContent a:focus, .linksText a:active, .newsBlock a:active, .more:active, .profileBlock a:active, .profileTextContent a:active, #timelineContent .sub a:active, .textonly:active, #textOnlyContent a:active {color: #2E0404; text-decoration: none;}
	.profileSubheader {color: #e9d4ad; margin-top: 0;}
	.profileTextContent a {font-size: 95%; text-decoration: underline;}
	.profileTextContent .articleLink {display: block; margin: 20px 0;}
	.left_nav {background: url(http://www.army.mil/e2/rv5_images/africanamericans/primNav_ltCorner.png) no-repeat; height: 36px; width: 13px; float: left; position: relative; top: -30px; right: -1px; z-index: 2000;}
	.right_nav {background: url(http://www.army.mil/e2/rv5_images/africanamericans/primNav_rtCorner.png) no-repeat; height: 36px; width: 13px; float: left; position: relative; top: -30px; right: 10px; z-index: 2000;}
	.bold {font-weight: bold; display: inline;}
	.italic {font-style: italic; display: inline; font-size: 85%;}
	.space {height: 80px; display: block;}
	.clear, .profileBlock {clear: both;}
	.profileBlock { position: relative;}
/*----------------------------------*/

/* 5. addThis

--------------------------------------------------------------------------------*/
#iconStrip { width:100%;}

/* --- addThis (Bookmark & Share Box) Styles --- */
/*#addThisTopRight { float:right;}
#addThis #linkBack {
	color:#fff;
	display:inline;
	float:right;
	font-weight:normal;
	margin-bottom:-28px;
	position:relative;
	top:-20px;
	right:35px;
}
#addThis a,#articleFooter a {
	outline:0;
	text-decoration:none;
}
#addThis h2 {
	margin:0;
	padding:0 10px;
	display:none;
}
#addThis {
	font-size:1.25em;
	min-width:520px;
	max-width:1200px;
	width:100%;
	z-index:1000;
}
#addThis ul {
	display:block;
	float:left;
	margin:5px;
	width:100%;
	padding:0;
	list-style:none;
}
#addThis ul#moreShare { display:none;}
#addThis li {
	background:none;
	float:left;
	margin:2px 0;
	padding:0;
	width:19.5%;
}
#addThis ul#tops li { width:16%;}
#addThis li:hover, #addThis li:focus, #addThis li:active {
	background: #2E0404;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#addThis li:hover,#addThis li:focus,#addThis li:active,#share,#shareClose,.all { cursor:pointer;}
#share:hover, #share:focus, #share:active { color:#fff;}
#share .textLink {
	cursor:pointer;
	display:block;
	font-weight:normal;
	line-height:18px;
	margin-left:24px;
	width:300px;
}
#shareClose {
	display:inline;
	float:right;
	position:relative;
	margin-bottom:-28px;
	top:-28px;
}
.facebook { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; } */
.all { background:url(http://www.army.mil/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
#articleFooter,#iconStrip {
	font-family:Verdana, Arial, Sans-serif;
	float:left;
	font-size:10px;
	min-width:520px;
	max-width:1200px;
	width:100%;
}
#iconStrip {
	display:none;
	float:left;
	height:28px;
	padding:3px 0;
}
#iconStripLeft { float:left;}
#iconStripRight { float:right;}
#iconStripRight a {
	float:left;
	line-height:18px;
	margin:5px 10px 0 0;
}
#iconStripRight .textLink { font-weight:bold;}
/*#share { background:url(http://www.army.mil/e2/rv4_images/icon_sprites.gif) 0 -361px no-repeat;}
#shareClose {
	background:url(http://www.army.mil/e2/rv4_images/icon_sprites.gif) 0 -380px no-repeat;
	display:none;
}*/
.article_sprite {
	display:block;
	float:left;
	height:19px;
	margin:5px;
	width:19px;
}
.block {
	clear:both;
	color:#fff;
	font-size:11px;
	height:26px;
	line-height:26px;
	padding-left:10px;
	text-transform:uppercase;
}
.dark-gray { }
.gray_text { color:#b4b4b4;}
.icon_sprite {
	display:block;
	float:left;
	height:19px;
	margin:0 4px;
	width:19px;
}

/*.share_sprite {
	display:inline;
	float:left;
	height:16px;
	margin:4px;
	width:16px;
}
.share_sprite:hover, .share_sprite:focus, .share_sprite:active { color:#FEFFCA;}
#tops .share_sprite .textLink { width:80px;}
.share_sprite .textLink {
	display:block;
	font-weight:normal;
	line-height:22px;
	margin-left:21px;
	height:24px;
	width:110px;
	position:relative;
	top:-4px;
}
.share_sprite .textLink:hover, .share_sprite .textLink:focus, .share_sprite .textLink:active {
	color:#FEFFCA;
	cursor:pointer;
}*/
#socialBox{
	overflow: hidden;
	width: 720px;
	margin: 0 auto;
	padding-left: 15px;
}
.stand-to li {
	text-indent: 20px; 
	font-size: 95%;
}

.hideDivider { display: none; }

.coupledNewsBlocks { 
	width: 100%; 
	display: block;
	overflow: hidden;
}
.coupledNewsBlocks .newsBlock:first-child { padding-right: 20px; }
.coupledNewsBlocks .newsBlock {
	float: left;
	width: 48%;
}
.coupledNewsBlocks .newsBlock p { display: none; }
.coupledNewsBlocks .newsBlock img { width: 100%; }
.coupledNewsBlocks .newsBlock .resourcesText { width: 100%; }
.coupledNewsBlocks .horizDivider { display: none; }
#showAdditional {
	margin-bottom: 50px;
	margin-top: 30px;
	color: rgb(40,4,3);
	background-color: rgb(161,145,120);
	border-color: rgb(40,4,3);;
	padding: 10px 16px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.33333;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid 
}
#showAdditional:hover { background-color: #c2b48e; }
#related_links_title {
	margin-top: 50px;
	margin-bottom: 15px;
}
.newsMiddleBox #rightCol {
	margin-top: 8px;
}
#newsMain .newsBlock h3 { margin: 10px 0 30px 0; }
.linksText a {
	color: #e9d4ad;
	font-size: 16.8px;
	line-height: 24px;
}

h3#related_links_title { font-size: 20.5833px; }

/*.socialMediaButtons {
	width: 75px;
	height: 50px;
	float: right;
	position:relative;
	top:100px;
	right: 90px;
	margin: -45px;
}*/